[submodule "third_part/Ultra-Light-Fast-Generic-Face-Detector-1MB"]
	path = third_part/face
	url = https://github.com/Linzaer/Ultra-Light-Fast-Generic-Face-Detector-1MB.git
[submodule "third_part/YOLOv5-LPRNet-Licence-Recognition"]
	path = third_part/licence
	url = https://github.com/HuKai97/YOLOv5-LPRNet-Licence-Recognition.git
